.Banner{
    width: 100%; 
    height: 250px; 
    margin: 32px 0 0 0; 
    background-image : url("../images/hero-mobile.jpg"); 
    background-repeat: no-repeat; 
}


/* desktop style */
@media screen and (min-width: 1440px){
    .Banner {
        background-image : url("../images/hero-desktop.jpg"); 
        width: 610px; 
        height: 100%; 
        order: 2; 
        margin: 0; 
    }
}