.Newsletter {
    width: 375px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    background: linear-gradient(150.03deg, #FFFFFF 0%, #FFF4F4 84.51%);
}

/* desktop style */
@media screen and (min-width: 1440px){
    .Newsletter {
        width: 1440px;
        height: 800px; 
        position: relative; 
        flex-direction: row; 
        justify-content: space-between ; 
    }
}