.RegistrationBox {
    display: flex; 
    flex-direction: column; 
    width: 310px; 
    margin: 64px 0 90px 0; 
}

/* desktop style */
@media screen and (min-width: 1440px){
    .RegistrationBox {
        width: 445px; 
        margin: 235px 0 160px 165px; 
        order: 1; 
    }
}