.Submit{
    height: 48px; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
    border-radius: 30px; 
    border: 1.5px solid rgba(206, 152, 152, 0.5);
}

.submitInput{
    height: 100%; 
    width: 185px; 
    background : transparent;
    border: 1px solid transparent; 
    padding-left: 25px; 
}
.submitInput:focus{
    outline: none; 
}
.submitInput::placeholder{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px; 
    font-weight: 500; 
    color: #CE9898; 
    opacity: 0.5; 
    line-height: 28px; 
}
.warningContainer{
    
    width: 0; 
    height: 0; 
    background-image: url("../images/icon-error.svg"); 
    background-position: contain; 
}

.warningContainerActive{
    width: 24px; 
    height: 24px; 
    background-image: url("../images/icon-error.svg"); 
    background-position: contain; 
}

.submitBtn {
    height: 48px;
    margin-right: -1px;  
    width: 64px; 
    border: none; 
    border-radius: 30px; 
    background: linear-gradient(135deg, #F8BFBF 0%, #EE8B8B 100%);
    box-shadow: 0px 15px 20px rgba(198, 110, 110, 0.247569);
}

.submitBtn:hover .warningContainer{
    width: 24px; 
    height: 24px; 
    background-image: url("../images/icon-error.svg"); 
    background-position: contain;
}
.arrowI{
    width: 9px; 
    height: 18px; 
}

/* desktop style */
@media screen and (min-width: 1440px){
    .Submit {
        height: 56px; 
    }
    .submitInput{
        width: 260px;
    }
    .submitBtn {
        height: 56px;
        margin-right: -1px;  
        width: 100px; 
    }
    .submitBtn:hover {
        background: rgba(255, 255, 255, 0.5),linear-gradient(135deg, #F8BFBF 0%, #EE8B8B 100%);
        box-shadow: 0px 15px 20px rgba(198, 110, 110, 0.2), inset 0 0 0 1000px rgba(255, 255, 255, 0.5), 0px 15px 20px rgba(198, 110, 110, 0.247569);
    }
}