.SubmitBox {
    position: relative; 
    display: flex; 
    flex-direction: column; 
    margin: 32px 0 0 0; 
}
.textError{
    display: none; 
}
.textErrorActiv{
    font-size: 13px; 
    line-height: 13px; 
    color: #F96464;
    position: absolute; 
    bottom: -25px; 
    left: 10px; 
    font-weight: 500; 
    display: block; 
}



/* desktop style */
@media screen and (min-width: 1440px){
    .SubmitBox {
        margin: 40px 0 0 0 ; 
    }
    .textErrorActiv{
        bottom: -30px; 
        left: 20px; 
    }
}

